.get-started {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;

  background: radial-gradient(
      circle farthest-corner at 76% 85%, /* Shifted center position */
      #2296B8, /* Dark teal blue at the shifted center */
      var(--primary-900), /* Lighter teal blue towards the center */
      var(--primary-900) /* Even lighter teal approaching white towards the bottom right corner */
  );
}






.get-started-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem; /* max-w-screen-md */
  position: relative;
}

.text-section {
  flex: 1;
  text-align: left;
  color: white;
  padding-bottom: 2.5rem;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.text-section h2 {
  font-size: 3rem; /* text-2xl */
  font-weight: bold;
  margin-bottom: 1.7rem; /* mb-3 */
  margin-top: 2rem; /* mb-3 */

}

.text-section p {

  margin-top: 1.5rem; /* mb-4 */
  font-size: 1rem; /* text-sm */
}

.download-button {
  padding: 0.75rem 1.5rem; /* px-4 py-2 */
  margin-top: 1rem; /* mb-4 */

  background-color: white;
  color: #0e3e5c;
  border-radius: 9999px; /* rounded-full */
  font-weight: 600; /* font-semibold */
  font-size: 1rem; /* text-sm */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #f1f1f1; /* hover:bg-gray-100 */
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; /* Move images to the top */
  position: absolute;
  top: 0;
  right: 4rem;
  margin-top: -11rem;
}

.image-container {
  display: flex;
  gap: 1rem; /* Space between images */
}

.image-container img {
  width: auto;
  max-width: 12rem; /* Adjust width as needed */
  height: auto;
  object-fit: contain; /* Ensure images are not cropped */
}

.image-container img:nth-child(2) {
  margin-top: 4rem; /* Move the second image (signUp) down slightly */
}
/* Ensure you have appropriate styles for spacing */
.text-content p {
  margin: 0; /* Remove default margin */
}

/* Optional: Adjust spacing between paragraphs if necessary */
.text-content p + p {
  margin-top: 0; /* Ensure no extra margin between paragraphs */
  margin-bottom: 1.5rem; /* Adjust margin to fit well */

}


/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
  .get-started {
      padding-left: 1.5rem; /* Adjust padding for mobile */
      padding-right: 1.5rem; /* Adjust padding for mobile */
      padding-bottom: 7.5rem;
  }

  .text-section {
    width: 100%; /* Ensure the container is full width */
    text-align: center; /* Center text if desired */
}


/* Optional: Adjust spacing between paragraphs if necessary */
.text-content p + p {
  margin-top: 0; /* Ensure no extra margin between paragraphs */
  margin-bottom: 1.5rem; /* Adjust margin to fit well */

}

.text-section h2 {
    font-size: 2rem; /* Adjust font size for better alignment */
    font-weight: bold;
    margin-bottom: 2.5rem; /* Adjust margin to fit well */
    
}
  .text-section p {

    margin-top: 1.5rem; /* mb-4 */
    font-size: 1rem; /* text-sm */
  }

  .get-started-container {
      flex-direction: column;
  }

  .image-section {
      position: static; /* Remove absolute positioning */
      margin-left: 0; /* Reset margin */
      margin-top: 1rem; /* Add margin to separate from text section */
      align-items: center; /* Center images on mobile */
      margin-bottom: -7rem; /* Adjust margin to fit well */
  }

  .image-container {
      flex-direction: row; /* Make images side by side on mobile */
      gap: 1rem; /* Increase gap between images on mobile */
  }

  .image-container img {
      max-width: 48%; /* Make images take half width on mobile */
  }

  .image-container img:nth-child(2) {
      margin-top: 0; /* Adjust the margin for mobile view if needed */
  }
}
