.parallax-container {
    position: relative;
    height: 500px; /* Adjust the height as needed */
  }
  
  .parallax-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .linear__text__gradient {
    background: linear-gradient(to right bottom, rgb(0, 0, 0) 10%, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }